.profile__name {
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 1.2;
    color: #FFFFFF;
    margin: 0 10px 0 0;
}

@media screen and (min-width: 1024px) {
    .profile__name {
        font-size: 42px;
        line-height: 1.14;
        margin: 0 20px 0 0;
    }
}