.card__like {
    height: 19px;
    min-width: 22px;
    background-image: url("../../../images/like.svg");
    background-size: cover;
}

.card__like:hover {
    opacity: 0.5;
    cursor: pointer;
}
